#policeGame {
    justify-content: center;
}

#zombieDefense {
    justify-content: center;
}

.text-center{
    text-align: center;
}

#bottomScroll{
    height: 3em;
}
.closeBtn{
    width: 4em; 
    height: 2em;
}
#arcade-timer-header{
    height: 10px;
    width: 200px;
    margin: 1px 2px 1px;
    padding-bottom: 5px;

}

body {
    text-align: center;
}