.calcBox {
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    background: radial-gradient(#5b5a5a, #424242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    text-align: center;
}

#calculator-boxes {
    display: block;

}