.calcBox {
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    background: radial-gradient(#5a5a5a, #424242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    text-align: center;
}

#calculator-boxes {
    display: block;

}
#instruction-text{
    width: 200em;
}
#bottomScroll{
    height: 30em;
}
@media  (max-width: 600px) {
    #grade_percent {
        width: 9em;
    }
    #current-grade {
        width: 9em;
    }
    #current_grade_p {
        font-size: 8px;
    }
    #grade_percent_p {
        font-size: 8px;
    }



    .calcBox {
        max-width: 200px;
        margin: 8px;
        padding: 8px;
        background: radial-gradient(#5a5a5a, #424242);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        text-align: center;
    }

    #A_curve {
        width: 75px;
    }
    #B_curve {
        width: 75px;
    }
    #C_curve {
        width: 75px;
    }
    #D_curve {
        width: 75px;
    }
    #F_curve {
        width: 75px;
    }
}