#assignments-div {
    max-width: 400px;
    margin: 40px;
    padding: 20px;
    background-color: #5b5a5a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

#priority-div {
    max-width: 400px;
    margin: 40px;
    padding: 20px;
    background-color: #5b5a5a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

button {
    margin: 5px;
}

#add-form {
    background-color: #5b5a5a;
    box-shadow: 0 0 10px;
    padding: 90px;
    margin-left: 65em;
    margin-top: 2em;
}

.dueDateTxtBox {
    width: 30px;
}

#remove-form {
    margin-left: 65em;
}