
button{
    display: block;
    margin: 50px auto;
    padding: 20px;
    width: 100%;
}
#left{
    display: inline-block;
    margin: 50px auto;
    padding: 20px;
}
#right{
    display: inline-block;
    margin: 50px auto;
    padding: 20px;
}

#customInputBox {
    float: right;
    background-color: #5b5a5a;
    box-shadow: 0 0 10px;
    visibility: hidden;
}
#timerWarning{
    font-size: 20px;
}
#timer-btns{
    height: 25px;
}