body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, #020066, #094caf);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}
.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: radial-gradient(#5a5a5a, #424242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
button{
    background: linear-gradient(90deg, #7d7d7d, #d1d1d1);
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
button:hover{
    background: linear-gradient(90deg, #5f5e5e, #9f9f9f);
}
#error-msg{
    color: #990000;
}

.headerOrbitron{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #79ceff;
    font-size: 75px;
}
.regularOrbitron{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.boldRobotoF{
    font-family: "RobotoF", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.regularRobotoF{
    font-family: "RobotoF", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.cyan{
    color: #5ce1e6;
}
.lightBlue{
    color: #79ceff;
}
.white{
    color: white;
}
.red{
    color: red;
}

nav {
    position: fixed;
    display: inline;
    bottom: 0;
    left: 0;
    background: radial-gradient(#5a5a5a, #424242);
    overflow: hidden;
    width: 100%;
}
.nav-element {
    float: left;
    margin: 2% 0% 2% 13%;
    padding: 5px;
    list-style-type: none;
    display: block;
    justify-content: center;
}

#clipboard{
    width: 38px;
    height: 50px;
}
#study-timer {
    width: 50px;
    height: 50px;
}
#final-calc {
    width: 38px;
    height: 50px;
}
#account{
    width: 45px;
    height: 50px;
}
#logo {
    width: 180px;
    height: 50px;
}

#hr-line {
    border-width: 5px;
}
.VerticalList{
    display: block;
}
.horizontalList{
    display: inline-block;
}
#signup_btn{
    border-radius: 25px;
}


@media  (max-width: 600px) {
    .container {
        max-width: 200px;
        margin: 25px auto;
        padding: 10px;
        background: radial-gradient(#5a5a5a, #424242);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
    }

    .boldRobotoF{
        font-family: "RobotoF", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-size: 15px;
    }
    .regularRobotoF{
        font-family: "RobotoF", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
    }

    .headerOrbitron{
        font-family: "Orbitron", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        color: #79ceff;
        font-size: 35px;
    }
    .regularOrbitron{
        font-family: "Orbitron", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    h2{

    }

    input{
        width: 100%;
    }

    .nav-element {
        float: left;
        margin: 1% 0% 1% 8%;
        padding: 5px;
        list-style-type: none;
        display: block;
        justify-content: center;
    }
    #clipboard{
        width: 20px;
        height: 25px;
    }
    #study-timer {
        width: 25px;
        height: 25px;
    }
    #final-calc {
        width: 19px;
        height: 25px;
    }
    #account{
        width: 22px;
        height: 25px;
    }
    #logo {
        width: 90px;
        height: 25px;
    }
}
